#ifdef BUILD_UTILITY_PASS2

LDRCODE_A64  RCDATA     "../../LdrCode/obj/ARM64/LdrCode.dll"
LDRCODE_X64  RCDATA     "../../LdrCode/obj/amd64/LdrCode.dll"
LDRCODE_X86  RCDATA     "../../LdrCode/obj/i386/LdrCode.dll"

#endif // BUILD_UTILITY_PASS2
